@page
@model KostKompas.Pages.FoodLog.GetFoodLogDayModel
@{
}
<table>
    <tr>
        <th>Energifordeling</th>
    </tr>
    <tr>
        <td>Energi</td>
        <td>kcal</td>
    </tr>
    <tr>
        <td>Energi</td>
        <td>g</td>
    </tr>
    <tr>
        <td>Kulhydrat</td>
        <td>g</td>
    </tr>
    <tr>
        <td>Kostfibre</td>
        <td>g</td>
    </tr>
    <tr>
        <td>Protein</td>
        <td>g</td>
    </tr>
</table>
<table class="table table-bordered table-hover table-striped table-opacity">
    <tr>
        <td>Morgenmad</td>
    </tr>
    <tr>
        <td>Formiddag</td>
    </tr>
    <tr>
        <td>Fokost</td>
    </tr>
    <tr>
        <td>Eftermiddag</td>
    </tr>
    <tr>
        <td>Aftensmad</td>
    </tr>
    <tr>
        <td>Sen aften</td>
        <td>
            <a href="#" class="btn btn-success">Link Button</a>
        </td>
    </tr>
</table>