@page
@model KostKompas.Pages.FoodLog.LoggedInFoodModel
@{
}

<input type="text" class="form-control-plaintext" placeholder="HVILKEN FØDEVARE DET ER, DER ER VALGT">
<input type="text" class="form-control" placeholder="Normal input">


<td> <a href="/FoodLog/GetFoodLogDay" class="btn btn-success">Tilføj</a></td>
