@page
@model KostKompas.Pages.FoodLog.LoggedInFoodModel
@{
}
<input type="text" class="form-control-plaintext" placeholder="Plaintext input">
<input type="text" class="form-control" placeholder="Normal input">
<a href="/FoodLog/GetFoodLogDay" class="btn btn-primary">Tilføj</a>