@page
@model KostKompas.Pages.Account.ChangePasswordModel
@{
}
<section class="form-card">
    <p class="eyebrow">Sikkerhed</p>
    <h1 class="page-title">Skift adgangskode</h1>

    <form method="post" class="profile-form">

        <div asp-validation-summary="All" class="validation-summary"></div>

        <div class="form-group-custom">
            <label>Nuværende adgangskode</label>
            <input asp-for="OldPassword" type="password" class="form-control-custom" />
        </div>

        <div class="form-group-custom">
            <label>Ny adgangskode</label>
            <input asp-for="NewPassword" type="password" class="form-control-custom" />
        </div>

        <div class="form-group-custom">
            <label>Gentag ny adgangskode</label>
            <input asp-for="RepeatPassword" type="password" class="form-control-custom" />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-green-custom">
                Gem adgangskode
            </button>

            <a asp-page="/Account/MyAccount" class="btn-secondary-custom">
                Tilbage
            </a>
        </div>

    </form>
</section>