@page
@model KostKompas.Pages.Account.ChangePasswordModel
@{
}
<h1>Skift adgangskode</h1>

<form method="post">

    <div asp-validation-summary="All"></div>

    <div>
        <label>Nuværende adgangskode</label>
        <input asp-for="OldPassword" type="password" class="form-control" />
    </div>

    <div>
        <label>Ny adgangskode</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>

    <div>
        <label>Gentag ny adgangskode</label>
        <input asp-for="RepeatPassword" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">
        Gem adgangskode
    </button>

</form>