@page
@model KostKompas.Pages.Account.MyAccountModel
@{
}


<h1>Min konto</h1>

<form method="post">

    <input type="hidden" asp-for="User.Id" />

    <div>
        <label>Navn</label>
        <input asp-for="User.Name" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="User.Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">
        Gem ændringer
    </button>

</form>

<br />

<a asp-page="/Account/ChangePassword" class="btn btn-secondary">
    Skift adgangskode
</a>
